.p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.p1 {
  margin: 0;
}
.txt {
  line-break: anywhere;
}
.h3,
.info1-box1 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.h3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  height: 115.02px;
  flex-shrink: 0;
}
.info1-box1 {
  border-radius: var(--br-sm);
  flex-direction: column;
  padding: var(--padding-3xs);
  justify-content: center;
  mix-blend-mode: normal;
}
/* .icon {
  position: relative;
  width: 137.85px;
  height: 108px;
  flex-shrink: 0;
  object-fit: cover;
} */

.b,
.ttco2 {
  position: relative;
}
.ttco2 {
  font-size: var(--font-size-base);
}


.icon1 {
  position: relative;
  width: 110.5px;
  height: 113px;
  flex-shrink: 0;
  object-fit: cover;
}

.b1,
.kw {
  position: relative;
}
.kw {
  font-size: var(--font-size-base);
}

.info1-box2 {
  display: flex;
  align-self: stretch; 
  flex-direction: column;
  justify-content: space-between;
  mix-blend-mode: normal;
  height: 100%;
}
.info1-box2-c1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  mix-blend-mode: normal;
}

.todayco2-image{
  display: list-item;
  position: relative;
  /* overflow: hidden; */
}
.todayco2-text{
  display: list-item;
  position: relative;
  /* overflow: hidden; */
}
.main-info1 {
  flex: 1;
  height: 410px;
  flex-direction: column;
  padding: var(--padding-3xs) 0 var(--padding-3xs) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-xs);
  background-color: #b7d6b7;
  border-radius: var(--br-sm);
}
.main-container,
.main-info1,
.main-info2 {
  overflow: hidden;
  mix-blend-mode: normal;
}
.main-info2 {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  height: 410px;
  align-items: center;
}
.main-container {
  align-self: stretch;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xs) var(--padding-4xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.main-container1-1{
  border-radius: var(--br-sm);
  display: flex;
  align-items: center;
  height: 410px;
  flex-direction: row;
  padding: var(--padding-3xs) 0 var(--padding-3xs) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: 15px;
  /* background-color: #b7d6b7; */
  overflow: hidden;
  mix-blend-mode: normal;
  flex: 2.02655;
}
.plus1-icon {
  position: relative;
}
.plus1-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.plus {
  justify-content: center;
}
.info3-box,
.info3-box2,
.info3-button,
.plus {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info3-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: flex-end;
}
.info3-box {
  position: absolute;
  height: 9.39%;
  width: 94.14%;
  top: 3.14%;
  right: 3.26%;
  bottom: 87.47%;
  left: 2.61%;
  justify-content: space-between;
}

.info3-box2 {
  position: relative;
  height: 82%;
  width: 94.14%;
  top: 13.5%;
  right: 3.26%;
  bottom: 87.47%;
  left: 3%;
  justify-content: space-between;
}

.main-info3 {
  flex: 2.02655;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  height: 410px;
  mix-blend-mode: normal;
}

.main-info4 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  height: 410px;
  mix-blend-mode: normal;
}

.main-container2,
.main-section {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.main-container2 {
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: whitesmoke;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-2xs) var(--padding-2xs);
  justify-content: center;
  gap: 15px;
  mix-blend-mode: normal;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-300);
}
.main-section {
  border-radius: var(--br-sm);
  flex-direction: column;
  padding: var(--padding-md) 40px;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

/* 라인그래프 크기 조절 */
.Line {
  position: relative;
  display: block;
  width: 95%;
  height: 85%;
  left: 3%;
  top: 10%;
}

/* 도넛그래프 크기 조절 */
.Doughnut {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 50%;
  height: 85%;
  top: 10%;
}

/* 파이그래프 크기 조절 */
.pie {
  position: relative;
  display: inline-block;
  width: 30%;
  height: 100%;
  bottom: -10%;
}
/* 막대그래프 크기 조절 부분  */
.bar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 428px) {
  .main-info2 {
    flex-direction: column;
  }
  .info3-button {
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .h3 {
    font-size: var(--font-size-7xl);
  }
  .b1 {
    font-size: var(--font-size-6xl);
  }
  .main-info1 {
    flex: 1;
    align-self: stretch;
  }
  .main-info2 {
    flex: 1;
    align-self: stretch;
  }
  .main-container {
    flex-direction: column;
  }
  .main-container1-1 {
    flex: unset;
    align-self: stretch;
    flex-direction: row;
  }
  .main-info3 {
    flex: 2.02655;
    align-self: stretch;
  }
  .main-info4 {
    flex: 1;
    align-self: stretch;
  }
}

@media screen and (max-width:630px){
  .main-container1-1,
  .main-container2 {
    flex-direction: column;
  }
}
@media screen and (max-width: 1577px) {
  .b1 {
    font-size: var(--font-size-3xl);
  }
}
@media screen and (max-width: 1503px) {
  .b1 {
    font-size: var(--font-size-2xl);
  }
}
@media screen and (max-width: 1451px) {
  .b1 {
    font-size: var(--font-size-lg);
  }
}
@media screen and (max-width: 1429px) {
  .b1 {
    font-size: var(--font-size-sm);
  }
}
@media screen and (max-width: 428px) {
  .h3 {
    font-size: var(--font-size-5xs);
  }
  .icon {
    width: 20px;
    height: 15px;
  }
  .ttco2 {
    font-size: var(--font-size-4xs);
  }
  .icon1 {
    width: 20px;
    height: 20px;
  }
  .b1 {
    font-size: var(--font-size-2xs);
  }
  .kw {
    font-size: var(--font-size-4xs);
  }
  .main-info1,
  .main-info2 {
    flex: unset;
    align-self: stretch;
  }
  .main-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 390px) {
  .h3 {
    font-size: var(--font-size-2xs);
  }
}
@media screen and (max-width: 375px) {
  .h3 {
    font-size: var(--font-size-3xs);
  }
}

@media screen and (max-width: 1772px) {
  .h3 {
    font-size: var(--font-size-6xl);
  }
}

@media screen and (max-width: 1705px) {
  .h3 {
    font-size: var(--font-size-5xl);
  }
}
