@keyframes hovercolor{
  to{
    background-color: rgb(190, 187, 187);
  }
}

.b4,
.selectdate {
  position: relative;
}
.selectdate {
  flex: 1;
  mix-blend-mode: normal;
}
.b4 {
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
  color: var(--color-gray);
  text-align: center;
}
.info1-box11,
.weekbutton {
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: row;
  mix-blend-mode: normal;
}
.weekbutton {
  cursor: pointer;
  border: 3px solid #939393;
  padding: 10 10 10 10;
  background-color: transparent;
  align-items: flex-start;
  justify-content: center;
}
.weekbutton:hover{
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-name: hovercolor;
}

.info1-box11 {
  background-color: var(--color-white);
  width: 620px;
  height: 38px;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  margin-left : 10px;
}
.pdfbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  position: relative;
  background-image: url(../../../public/image16@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.info1-box21,
.second-container1,
.second-info1 {
  display: flex;
  flex-direction: row;
  mix-blend-mode: normal;
}
.info1-box21 {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.second-container1,
.second-info1 {
  align-self: stretch;
}
.second-info1 {
  flex: 1;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  align-items: center;
  justify-content: space-between;
}
.second-container1 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: #939393;
  height: 80px;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--padding-2xs) var(--padding-2xs) 5px var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.b6 {
  position: relative;
}
.info2-box1 {
  position: absolute;
  height: 9.39%;
  width: 94.14%;
  top: 3.14%;
  right: 3.26%;
  bottom: 87.47%;
  left: 2.61%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.second-info2 {
  flex: 1;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  height: 479.06px;
  mix-blend-mode: normal;
}
.second-container2 {
  align-self: stretch;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: #939393;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-2xs) var(--padding-2xs) var(--padding-2xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
  mix-blend-mode: normal;
}
.second-section {
  align-self: stretch;
  border-radius: var(--br-sm);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 428px) {
  .second-section {
    flex-direction: column;
    border-radius: 0;
  }
}
@media screen and (max-width: 1199px) {
  .second-container1 {
    flex-direction: column;
  }
  .second-info2 {
    flex: unset;
    align-self: stretch;
  }
  .second-container2 {
    flex-direction: column;
  }
}
@media screen and (max-width: 766px) {
  .info1-box11 {
    flex: 1;
  }
  .second-info1 {
    flex: 1;
    align-items: center;
    justify-content: flex-start;
  }
}